# Environment Variables
# Copy this file to .env and fill in the values

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ncrtc_bms?schema=public"

# Auth
NEXTAUTH_SECRET="change-me-to-a-random-string-at-least-32-chars"
NEXTAUTH_URL="http://localhost:3000"
JWT_SECRET="change-me-to-a-different-random-string-at-least-32-chars"

# App
NODE_ENV="development"
LOG_LEVEL="debug"
